body {
  margin: 0;
  padding: 0; }

.wrapper {
  filter: url("#joint");
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row; }
  .wrapper .circle:nth-child(1) {
    top: 20px;
    left: calc(calc(50% - 32px / 2) - 16px); }
  .wrapper .circle:nth-child(2) {
    top: 26px;
    left: calc(calc(50% - 32px / 2) + 16px); }

.no-joint-filter-wrapper {
  filter: url("#noJoint"); }
  .no-joint-filter-wrapper .circle:nth-child(1) {
    top: calc(20px + 200px);
    left: calc(calc(50% - 32px / 2) - 16px); }
  .no-joint-filter-wrapper .circle:nth-child(2) {
    top: calc(26px + 200px);
    left: calc(calc(50% - 32px / 2) + 16px); }

.no-filter-wrapper .circle:nth-child(1) {
  top: calc(20px + 200px * 2);
  left: calc(calc(50% - 32px / 2) - 16px); }

.no-filter-wrapper .circle:nth-child(2) {
  top: calc(26px + 200px * 2);
  left: calc(calc(50% - 32px / 2) + 16px); }

.circle {
  width: 32px;
  height: 32px;
  background-color: #FD5900;
  border-radius: 100%;
  position: absolute;
  cursor: pointer; }

.list {
  display: flex;
  position: absolute;
  bottom: 0;
  filter: url("#joint"); }

.list-2 {
  display: flex;
  position: absolute;
  bottom: 60px; }

.list-item {
  margin: 0 10px;
  background-color: #FD5900;
  width: 32px;
  height: 32px;
  border-radius: 100%; }
