body {
  margin: 0;
  padding: 0;
}

$size: 32px;

.wrapper {
  filter: url("#joint");
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;

  .circle {
    $center: calc(50% - #{$size} / 2);
    &:nth-child(1) {
      top: 20px;
      left: calc(#{$center} - 16px);
    }
    &:nth-child(2) {
      top: 26px;
      left: calc(#{$center} + 16px);
    }
  }
}
.no-joint-filter-wrapper {
  filter: url("#noJoint");

  .circle {
    $center: calc(50% - #{$size} / 2);
    &:nth-child(1) {
      top: calc(20px + 200px);
      left: calc(#{$center} - 16px);
    }
    &:nth-child(2) {
      top: calc(26px + 200px);
      left: calc(#{$center} + 16px);
    }
  }
}

.no-filter-wrapper {
  .circle {
    $center: calc(50% - #{$size} / 2);
    &:nth-child(1) {
      top: calc(20px + 200px * 2);
      left: calc(#{$center} - 16px);
    }
    &:nth-child(2) {
      top: calc(26px + 200px * 2);
      left: calc(#{$center} + 16px);
    }
  }
}

$col: #FD5900;

.circle {
  width: $size;
  height: $size;
  background-color: $col;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
}

.list {
  display: flex;
  position: absolute;
  bottom: 0;
  filter: url("#joint");
}
.list-2 {
  display: flex;
  position: absolute;
  bottom: 60px;
  filter: url("#boke");
}
.list-3 {
  display: flex;
  position: absolute;
  bottom: 120px;
}
.list-item {
  margin: 0 10px;
  background-color: $col;
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.list-label {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  margin: 0 10px;
  font-size: 12px;
}
